altgraph==0.17.4
blinker
click==8.1.7
colorama==0.4.6
Flask
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
packaging
pefile
pyinstaller
pyinstaller-hooks-contrib
pywin32-ctypes
Werkzeug
zipp
